#contact {
    font-style: oblique;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    font-size: xx-large;
    font-weight: 900;
    margin-inline: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: solid;
    a:hover{
    text-decoration: none;
}
}

h4 {
    text-align: center;
    font-size: 25px;
    margin: 10px;
}

#contactdos {
    font-style: oblique;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    font-size: xx-large;
    font-weight: 900;
    margin-inline: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: solid;
    a:hover{
    text-decoration: none;
}
}

