#navegador{
    justify-content: center;
}
.datos-container{
    h1{
        text-align: center;
        margin: 20px;
        text-decoration: underline;
    }
    p{
        font-size: large;
        font-weight: 500;
    }
}