#navegador{
    justify-content: center;
}
.politica-container{
    h1{
        margin-top: 20px;
        font-weight: bold;
        text-align: center;
    }
    h2{
        font-weight: bold;
        text-decoration: underline;
        text-align: center;
    }
    p{
        font-size: large;
        font-weight: 500;
        margin: 15px 0px;
    }
}